<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="containerMenu">
    <a class="navbar-brand" href="/">NLP Application</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav flex-column flex-sm-row">
        <li class="nav-item">
          <a
            class="flex-sm-fill text-sm-center nav-link"
            href="/nepotrebneFraze"
            >Pronalazak nepotrebnih fraza
          </a>
        </li>
        <li class="nav-item">
          <a
            class="flex-sm-fill text-sm-center nav-link"
            href="/slabeUblazavajuceFormulacije"
            >Provjera slabih i ublažavajućih formulacija</a
          >
        </li>
        <li class="nav-item">
          <a
            class="flex-sm-fill text-sm-center nav-link"
            href="/kljucneRijeciFraze"
            >Izdvajanje ključnih riječi i ključnih fraza</a
          >
        </li>
        <li class="nav-item">
          <a
            class="flex-sm-fill text-sm-center nav-link"
            href="/pretjeranoUporabljeneFraze"
            >Otkrivanje pretjerano uporabljenih fraza</a
          >
        </li>
        <li class="nav-item">
          <a
            class="flex-sm-fill text-sm-center nav-link"
            href="/provjeraCitljivosti"
            >Provjera čitljivosti teksta</a
          >
        </li>
        <li class="nav-item">
          <a
            class="flex-sm-fill text-sm-center nav-link"
            href="/jednostavnijeAlternativneRijeci"
            >Pronalazak jednostavnijih alternativnih riječi</a
          >
        </li>
        <li class="nav-item">
          <a
            class="flex-sm-fill text-sm-center nav-link"
            href="/pronalazakGramatickihGresaka"
            >Pronalazak gramatičkih grešaka</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
