<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/menu %>
    <div class="container" id="textInputForm">
      <form action="/nepotrebneFraze" method="get">
        <div class="form-group">
          <label for="inputTextarea"
            >Ovdje unesite tekst nad kojim želite izvršiti analizu:</label
          >
          <textarea
            class="form-control"
            id="inputTextarea"
            rows="5"
            name="inputTextarea"
          >
<%= inputText %></textarea
          >
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg">
            Pronađi nepotrebne fraze
          </button>
        </div>
      </form>
    </div>
    <% if (rezultat.length > 0) { %>
    <div class="container">
      <div class="alert alert-warning" role="alert" id="alertMessage">
        <h4 class="alert-heading">Upozorenje!</h4>
        <p>
          <i>
            Korištenje ovakvih fraza u rečenicama nije korisno te se često
            savjetuje takve fraze u potpunosti izostaviti zato što one ovise o
            znanju i iskustvu korisnika.</i
          >
        </p>
        <hr />
        <% rezultat.forEach( recenica => { %>
        <p>
          <%= recenica %>
        </p>
        <hr />
        <% }); %>
      </div>
    </div>
    <% } %> <% if (rezultat.length == 0 && obavljenZahtjev == true) { %>
    <div class="container">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Odlično!</h4>
        <p>U tekstu kojeg ste upisali nema niti jedna nepotrebna fraza.</p>
      </div>
    </div>
    <% } %><% include partials/footer %>
  </body>
  <% include partials/script %>
</html>
